body{
	background-image: url('../imgs/fondo.png');
	background-size: 300px;
	background-color: #dce8be;
	background-repeat: repeat;
}

#encabezado{list-style: none; display:inline-flex;}

#div_exterior{
	
border: 0.1px solid black;
background-color: white;
box-shadow: 10px 10px 8px #888888;
margin: auto;
width: 65%;

height: auto;
padding: 5%;
}
#titulo,#tl_resultados{text-align: center;}
#div_interior{background-color: #9e9e9e; padding:2%;}

/*#resultados{background-color: blue}*/
/*cada uno de las celdas de la tabla de los botantes*/
#candidatos td {margin: 1%; background-color: white; padding: 2px; box-shadow: 2px 2px 2px #888888; border-radius: 5px}

#candidatos td #resultados{box-shadow: none; background-color: #e7b88e}
#f_candidatos{text-align:left}

/*tabla de los candidatos*/
#candidatos{width: 100%; border-collapse: separate; border-spacing: 10px;}