body{
background-size: 300px;
background-color: #dce8be;
background-repeat: repeat;
}
/*configuracion para el div del login*/
#login{
position: absolute;
top: calc(50% - 75px);
left: calc(50% - 175px);
margin: auto;
text-align: center;
background-color: #d3dbd1;
padding: 2px;
width: 350px;
height:150px;
}
/*tabla adentro del login*/
#inside_login{margin: auto}
#inside_login tr{margin: 10px}
.in_texfld{
height: auto;
width: auto;
}